body{
    margin: 0px;
}
header{
    background-color: antiquewhite;
    margin: 0px;
    padding: 0px;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.Menu{
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    justify-content:end;
}